<div>

    <h1>Examples: Sokrates Analyses of Individual Repositories</h1>

    <div class="ng-star-inserted">
        <div class="section">
            <img style="width: 48px; height: 48px; object-fit: contain"
                 src="https://d3axxy9bcycpv7.cloudfront.net/assets/logos/tomcat.png">
            <div style="display: inline-block; vertical-align: top; margin-top: 0px; margin-left: 10px">
                <div style="font-size: 120%; font-weight: bold">Tomcat</div>
            </div>
            <div><a target="_blank" href="https://d3axxy9bcycpv7.cloudfront.net/apache/tomcat/html/index.html">View Sokrates documentation</a> ⤇</div>
        </div>
        <div class="section">
            <img style="width: 48px; height: 48px; object-fit: contain"
                 src="https://d3axxy9bcycpv7.cloudfront.net/assets/logos/kafka.png">
            <div style="display: inline-block; vertical-align: top; margin-top: 0px; margin-left: 10px">
                <div style="font-size: 120%; font-weight: bold">Apache Kafka</div>
            </div>
            <div><a target="_blank" href="https://d3axxy9bcycpv7.cloudfront.net/apache/kafka/html/index.html">View Sokrates documentation</a> ⤇</div>
        </div>
        <div class="section">
            <img style="width: 48px; height: 48px; object-fit: contain"
                 src="https://d3axxy9bcycpv7.cloudfront.net/assets/logos/activemq.png">
            <div style="display: inline-block; vertical-align: top; margin-top: 0px; margin-left: 10px">
                <div style="font-size: 120%; font-weight: bold">ActiveMQ</div>
            </div>
            <div><a target="_blank" href="https://d3axxy9bcycpv7.cloudfront.net/apache/activemq/html/index.html">View Sokrates documentation</a> ⤇</div>
        </div>
    </div>

    <div style="margin-top: 12px; padding: 3px; margin-bottom: 50px">
        <b><u>NOTE</u></b>: If you want to perform similar landscape analyses of all repositories in a GitHub organization, take a look at this project <a
            href="https://github.com/zeljkoobrenovic/sokrates-oss-landscape-analysis" target="_blank">github.com/zeljkoobrenovic/sokrates-oss-landscape-analysis</a> and Dockerized AWS version  <a
            href="https://github.com/zeljkoobrenovic/sokrates-oss-landscape-analysis-aws" target="_blank">github.com/zeljkoobrenovic/sokrates-oss-landscape-analysis-aws</a>.
    </div>
    <h1>Recent Sokrates Analyses of Big Projects and Whole GitHub Organizations</h1>
    <p style="color: #a0a0a0">NOTE: Analysis is limited to repositories with commits in past year or two.</p>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/mozilla/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/mozilla" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Mozilla OSS Landscape</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>204</b> repos, <b>204</b> MLOC, <b>16,500</b> contributors, <b>1.4M</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/mozilla-firefox/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/mozilla-firefox" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Mozilla Firefox</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>2</b> repos, <b>50</b> MLOC, <b>10,300</b> contributors, <b>1.8M</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/apache/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/apache" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Apache Software Foundation</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>1.1K</b> repos, <b>300</b> MLOC, <b>34,000</b> contributors, <b>3M</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/elastic/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/elastic" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Elastic OSS Landscape</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>288</b> repos, <b>29</b> MLOC, <b>11,000</b> contributors, <b>445K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/aws/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/aws" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">AWS Source Code Landscape</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>284</b> repos, <b>58</b> MLOC, <b>15,000</b> contributors, <b>477K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/GoogleCloudPlatform/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/GoogleCloudPlatform" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Google Cloud Platform (GCP) Landscape</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>533</b> repos, <b>33</b> MLOC, <b>11,500</b> contributors, <b>295K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/azure/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/azure" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Microsoft Azure OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>746</b> repos, <b>184</b> MLOC, <b>1,700</b> contributors, <b>142K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/aliyun/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/aliyun" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Alibaba Cloud OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>185</b> repos, <b>72</b> MLOC, <b>20,000</b> contributors, <b>600K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/guardian/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/guardian" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">The Guardian's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>197</b> repos, <b>3.3</b> MLOC, <b>1,190</b> contributors, <b>321K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/openai/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/openai" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">OpenAI's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>77</b> repos, <b>2.4</b> MLOC, <b>2,000</b> contributors, <b>9K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/anthropics/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/anthropics" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Anthropics's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>13</b> repos, <b>300</b> KLOC, <b>688</b> contributors, <b>5K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/deepseek-ai/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/deepseek-ai" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">DeepSeek OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>13</b> repos, <b>150</b> KLOC, <b>49</b> contributors, <b>415</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/mysql/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/mysql" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">MySQL OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>14</b> repos, <b>8</b> MLOC, <b>553</b> contributors, <b>191K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/netflix/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/netflix" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Netflix's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>42</b> repos, <b>1.5</b> MLOC, <b>844</b> contributors, <b>38K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/spotify/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="assets/logos/spotify.png" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Spotify's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>72+</b> repos, <b>800</b> KLOC, <b>1,100+</b> contributors, <b>41K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/uber/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/uber" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Uber's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>30</b> repos, <b>1.4</b> MLOC, <b>650</b> contributors, <b>22K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/twitter/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="assets/logos/twitter.png" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Twitter's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>60</b> repos, <b>850</b> KLOC, <b>1,000</b> contributors, <b>45K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/alibaba/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/alibaba" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Alibaba's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>77</b> repos, <b>10.2</b> MLOC, <b>6.5K</b> contributors, <b>133K</b> commits</div>
        </a>
    </div>

    <h1>Older Examples</h1>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/linux/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="assets/logos/linux.png" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Linux Source Code Landscape</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>23</b> MLOC, <b>17,000</b> contributors, <b>330K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/asf/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://d3axxy9bcycpv7.cloudfront.net/asf/_sokrates_landscape/logo.png" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Apache Software Foundation (ASF) Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>1,100</b>+ repos, <b>100</b> MLOC, <b>24,000</b> contributors, <b>2M</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/amzn/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="assets/logos/amzn.png" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Amazon's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>2,700</b> repos, <b>60</b> MLOC, <b>13,000</b> contributors, <b>600K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/google/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="assets/logos/google.png" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Google's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>1,000</b> repos, <b>40</b> MLOC, <b>12,000+</b> contributors, <b>1.2M</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/meta/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="assets/logos/meta.png" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Facebook/Meta's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>150</b> repos, <b>37</b> MLOC, <b>14,000</b> contributors, <b>900K</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/microsoft/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="assets/logos/microsoft.png" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Microsoft's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>2,500</b> repos, <b>47</b> MLOC, <b>18,000</b> contributors, <b>1.2M</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/github/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="https://avatars.githubusercontent.com/github" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">GitHub's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>200</b> repos, <b>2</b> MLOC, <b>4,400</b> contributors, <b>1.2M</b> commits</div>
        </a>
    </div>
    <div class="section" style="width: 300px; margin-bottom: 50px; ">
        <a href="https://d3axxy9bcycpv7.cloudfront.net/apple/_sokrates_landscape/index.html" target="_blank" style="text-decoration: none">
            <div><img src="assets/logos/apple.jpeg" style="height: 90px; padding: 4px"></div>
            <div style="font-size: 140%; font-weight: bold">Apple's OSS Projects</div>
            <div style="margin-top: 8px; font-size: 90%; color: black"><b>100</b> repos, <b>4.5</b> MLOC, <b>1,700</b> contributors, <b>200K</b> commits</div>
        </a>
    </div>
</div>