body {
    font-family: Quicksand, Vollkorn, Ubuntu, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

.inline-code {
    background-color: lightyellow;
    font-family: monospace;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.logo {
    height: 120px;
    width: 120px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 50%;
}

@media (max-width: 800px) {
    .card {
        border: 1px solid lightgrey;
        background-color: rgba(0, 0, 0, 0.01);
        margin: 0px;
        padding: 4px;
        width: calc(100% - 12px);
        display: inline-block;
        background-color: white;
        font-size: 90%;
    }

    .section {
        margin: 0px;
        border: 2px dashed lightgrey;
        padding: 4px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        display: inline-block;
        vertical-align: top;
        font-size: 90%;
        font-size: 90%;
        overflow: hidden;
    }


    .home-card {
        border: 1px solid lightgrey;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0;
        padding: 4px;
        width: calc(100% - 60px);
        display: inline-block;
        background-color: white;
        border-radius: 8px;
        font-size: 90%;
        overflow: hidden;
    }

    .tabcontent {
        display: none;
        padding: 4px;
        border: 1px solid #ccc;
        border-top: none;
        overflow: hidden;
    }

    pre {
        overflow: hidden;
    }
}

@media (min-width: 801px) {
    .card {
        border: 1px solid lightgrey;
        background-color: rgba(0, 0, 0, 0.01);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 14px;
        padding: 16px;
        width: calc(100% - 70px);
        display: inline-block;
        background-color: white;
        border-radius: 8px;
    }

    .section {
        margin: 10px;
        border: 2px dashed lightgrey;
        padding: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        display: inline-block;
        vertical-align: top;
    }

    body {
        margin: 20px;
    }


    .home-card {
        border: 1px solid lightgrey;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0px;
        padding: 16px;
        width: calc(100% - 60px);
        display: inline-block;
        background-color: white;
        border-radius: 8px;
    }

    .tabcontent {
        display: none;
        padding: 20px;
        border: 1px solid #ccc;
        border-top: none;
    }
}

h1 {
    margin-top: 10px;
    font-size: 180%;
}

@media (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
}